
<section class="hero">
  <div class="hero-body">
    <p class="title">Bookmarks</p>
    <p class="subtitle">All your bookmarks in one place</p>
  </div>
</section>
<%= render partial: "bookmark", collection: @bookmarks.results, as: :bookmark %>
<%= render "pagination", offset: params.fetch(:offset, 0).to_i, limit: params.fetch(:limit, 10).to_i %>