<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item has-text-weight-semibold" href="/">
      <%= image_tag "linkding.svg", width: 32, height: 32 %>
      LINKDING Companion
    </a>
  </div>
</nav>